doctype html
html
  head
    title= title
  body
    a(href="/update-cobj") Add to this table

    h1 Plants

    table(border="1")
      tr
        th Name
        th Species
        th Watering Frequency
      each record in records
        tr
          td= record.properties.name
          td= record.properties.species
          td= record.properties.watering_frequency


//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

//- doctype html
//- html 
//-     head 
//-         title= `${title}`
//-         meta(name="viewport" content="width=device-width, initial-scale=1")
//-         link(rel="stylesheet", href="/css/style.css")
//-     body    
//-         h1 Contacts
//-         .cards 
//-             each contact in data
//-                 .card 
//-                     h2.card__name #{contact.properties.firstname}  #{contact.properties.lastname}
//-                     p.card__email #{contact.properties.email}